# Fabric Workspace Projects
[submodule "fabric"]
	path = fabric
	url = git@github.com:FabricLabs/fabric.git
[submodule "web"]
	path = web
	url = git@github.com:FabricLabs/web.git
[submodule "rpg"]
	path = rpg
	url = git@github.com:FabricLabs/rpg.git
[submodule "maki"]
	path = maki
	url = git@github.com:FabricLabs/maki.git
[submodule "doorman"]
	path = doorman
	url = git@github.com:FabricLabs/doorman.git
[submodule "idlerpg"]
	path = idlerpg
	url = git@github.com:FabricLabs/idlerpg.git
[submodule "idlerpg-bot"]
	path = idlerpg-bot
	url = git@github.com:FabricLabs/idlerpg-bot.git
